wandb/
# Ignore __pycache__ directories
__pycache__/

# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/
.env/

# Ignore logs
*.log

.DS_Store
create_dataset_from_data.py
results_cp_sat